body {
  
  background-color: black;
}

#mainFrame {
  width: 40%;
  margin: 0 30%;
  background-color: #ABEBC6;
  font-family: Roboto Mono, monospace;
  font-size: 18px;
  padding: 0 0 20px 0;
}

#mainFrame #title {
  text-align: center;
}

#mainFrame img {
  width: 50%;
  margin: 0 25%;
}

h1 {
  color: blue;
  font-size: 60px;
}


h2 {
  padding: 0 25px;
  color: blue;
  font-size: 28px;
}

p {
  padding: 0 25px;
}

#borderBox {
  padding: 0 25px;
}

ul {
  border: solid;
  border-color: black;
  border-width: 4px;
}
  


